{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "no-loops",
    "prettier"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": 2,
    "@typescript-eslint/no-empty-interface": 0,
    "no-loops/no-loops": 2,
    "prettier/prettier": 2
  }
}
